# Terraform state and cache
*.tfstate
*.tfstate.*
.terraform/
*.terraform.lock.hcl
terraform.tfvars

# BFG artifacts
bfg.jar
.git-mirror/
.git-mirror.bfg-report/

# OS and editor clutter
*.log
*.bak
*.DS_Store
Thumbs.db
*.zip
*.pem

# Terragrunt cache
.terragrunt-cache/